[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
psycopg2 = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask-migrate = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-admin = "*"
flask-login = "*"
celery = {extras = ["redis"], version = "*"}
flask-cors = "*"
flask-restful = "*"
requests = "*"
eralchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python3 wsgi.py"
worker = "celery -A backend.queue_worker.task_queue worker -l INFO"
