[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
psycopg2 = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask-migrate = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-admin = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.9"


[scripts]
start = "python3 wsgi.py"