
:root{
    --blue: #337ab7;
    --grey: #dbe9ff;
    --offwhite: #FDF8F4;
    --warmwhite: #FEFDFB;
    --lighttext: white;
    --shadow: 0 1px 1px 0 rgba(0,0,0,0.14);


}

body {
    background-color: var(--offwhite);
}

.nav {
    background-color:var(--blue);
    border-radius: 0px;
    height: 65px;
    max-height: 65px;
    /* padding: 1vh; */
}

.login {
    float: right;
    /* transform: translateY(30%); */
    padding: 15px;
    /* margin-top: 1vh */
}

.loginmsg {
    padding: 0 .5vh

}

.danger {
    color: #dc3545;
    background-color: #fcd1d5;
}
.success {
    color: #198754;
    background-color: #86ddb4;
}

.branding {
    color: var(--lighttext)
}

.inputs-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30vh;
    margin: 0 auto
    
}
.notification-container {
    /* max-height: 100px; */
    /* height: fit-content; */
    max-height: 30vh;
    max-width: 50%;
    flex: 1 1 auto;
    overflow-y: scroll;
    /* background-color: var(--warmwhite); */
}

table {
    background-color: var(--warmwhite);
}

.my-custom-scrollbar {
    position: relative;
    height: 50vh;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.table-wrapper-scroll-y thead th { 
    position: sticky; top: 0; 
    background-color: var(--warmwhite);
    box-shadow: var(--shadow);
}

.table-button {
    text-align: center;
    /* margin: 0 0; */
    /* float: bottom; */
}
