{%extends 'admin/master.html'%}

{%block body%}
<h4>Add new trials by NCT number</h4>
<br>
<form action="/add" method="POST" class="form-group">

    <textarea name="trial-list" id="" cols="70" rows="5" placeholder="List of NCT IDs"></textarea>
    <br>
    <br>
    <input type="submit" value="Track" class="btn btn-primary" />
<!-- <input type="submit" value="Drop" class="btn btn-danger" formaction="/admin/trials" /> -->
</form>

<hr/>

<h4>Add new Dataset</h4>
<br>
{%if url_for(request.endpoint) == '/'%}
<form method="POST" action="/upload" enctype=multipart/form-data>
    <input type=file name=file >
    <br>
    <input type=submit value=Upload class="btn btn-primary">
</form>
{%endif%}

{%if url_for(request.endpoint) == '/upload'%}
<form  >
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    Column from CSV
                </th>
                <th scope="col">
                    Import?
                </th>
                <th scope="col">
                    Map to Trials Table
                </th>
                <th scope="col">
                    Map to Field Table
                </th>
                <th scope="col">
                    Notes
                </th>
            </tr>
        </thead>
        <tbody>
                {%for option in options %}
                <fieldset>
            <tr>

                <td>
                    <label for='include'> {{option}} </label>
                </td>
                <td>
                    <input type='checkbox' id='{{option}}' value='{{option}}' name='include' unchecked>
                </td>
                <td>
                    <select id="trial-fields" name='{{option}}' >
                        <option value='' selected>-select-</option>
                        {% for field in trial_fields %}
                        <option value='{{ field }}'>{{ field }}</option>
                        {% endfor %}
                    </select>
                </td>

                <td>
                    <select id="data-fields" name='{{ option }}' >
                        <option value='' selected>-select-</option>
                        <option value='new' >New Column</option>
                        {% for x in data_fields %}
                        <option value='{{ x.field_uid }}'>{{ x.field_name }}</option>
                        {% endfor %}
                    </select>
                </td>

                <td>
                    <input type="text" name='{{ option }}' id="note">
                </td>

            </tr>
        </fieldset>
                {% endfor %}
        </tbody>
</table>

    <input type='submit' value='Import' class="btn btn-primary" formmethod="POST" formaction="/import" formenctype="multipart/form-data">
    <input type='submit' value='Cancel' class="btn btn-secondary" formmethod="GET" formaction="/ "/>
</form>
{%endif%}
{% if message %}
<code >{{ message }}</code>
{%endif%}


<!-- TODO add support for search url -->

<!-- <hr/> -->

<!-- <h4>Add trials from search URL</h4>
<br>
<form action="/addsearch" method="POST" class="form-group">

    <textarea name="search-url" id="" cols="70" rows="5" placeholder="List of NCT IDs"></textarea>
    <br>
    <br>
    <input type="submit" value="Track" class="btn btn-primary" />
</form> -->


{%endblock body%}