.resizer {
    display: inline-block;
    background: blue;
    width: 10px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
    touch-action:none;

    
  }
.isResizing {
    background: red;
  }

  /* .TableCell {
    position: relative;
  } */

  .headerButton {
    /* display: inline-block; */
    width: 24px;

  }