<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/styles/app.css">
        <link rel="shortcut icon" href="../static/styles/favicon.ico">
        <title>TrialTrace DB</title>
    </head>
    <body>
        <nav class="navbar navbar-light nav">
            <a class="navbar-brand branding" href="#">

            <img src="../static/branding.svg" alt="trialtrace rss logo showing bulseye icon" height="30px" >
            </a>
            <div class='login'>
                <form class="form-group" action="" method="POST">
                    {% if not current_user.is_authenticated %}
                        <input type='email' name='email' placeholder="email">
                        <input type='password' name='password' placeholder="password">
                        <input type='submit' value='login' formaction="/login">
                    {% else %}
                        <input type='submit' value='logout' formaction="/logout">
                        {% if current_user.is_admin %}
                        <input type='submit' value='admin' formaction="/admin">
                        {% endif %}
                    {% endif %}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if 'loginmsg' in category %}
                                <div class="{{ category }}" role="alert">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                    </form>
            </div>
        </nav>
        <div class="container-fluid content"> {% block content %}{% endblock %}
            </div>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </body>
    </html>